{% extends 'blog/base.html' %}
{% block title %}My Drafts{% endblock %}
{% block content %}

    {% for post in posts %}
       <div class="post">
            {% if post.created_date %}
            <div class="date">
                <p>Created: {{ post.created_date | date:'d-m-Y' }}</p>
<!--                <p>Published:{{ post.published_date }}</p>-->
            </div>
            {% endif %}

           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p> {{ post.text|truncatechars:6}}</p>
        </div>
    {% endfor %}
{% endblock %}
